#container {
    margin: auto;
    width: 28%;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.wrapper {
    display: flex;
    justify-content: center;
}

td {
    width: 100px;
    height: 100px;
    font-size: 5rem;
    border: 1px solid black;
    text-align: center;
}

.guess {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;    
}

input[type=text] {
    font-size: 1.8rem;
    width: 300px;
    height: 30px;
    line-height: 1.5;
    vertical-align: middle;
}

button {
    font-size: 1.3rem;
    width: 150px;
    height: 35px;
    line-height: 1.5;
    vertical-align: middle;
}

.result {
   text-align: center;
   font-size: 1.2rem;
   margin-top: 0;
}

#timesPlayedDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

::focus {
    border: 2px solid skyblue;
}