<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Boggle Game</title>
</head>

<body>
    <div id="container">
        <div id="nav">
            <h1>BOGGLE</h1>
            <span>Score: <span id="score"></span></span>
            <span>Time: <span id="time"></span></span>
        </div>

        <table class="wrapper">
            <tbody id="table" hidden>
                {% block content %}
                {% endblock %}
            </tbody>
        </table>
        <div class="guess">
            <button id="startButton">Start!</button>
            <form hidden action="/guess" method="POST" id="guessForm">
                <input type="text" placeholder="Guess HERE!!" id="guessText" name="guess">
                <button>Submit</button>
            </form>
        </div>
        <div id="stats" hidden>
            <div id="timesPlayedDiv">
                <p>High Score: <span id="highScore">
                        {% block score %}
                        {{ score }}
                        {% endblock %}
                    </span></p>
                <button id="playAgain">Play Again?</button>
                <p>Times Played: <span id="timesPlayed">
                        {% block timesPlayed %}
                        {{ played }}
                        {% endblock %}
                    </span></p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/app.js"></script>
</body>

</html>